body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/Pictures\ &\ Images/IanPic.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position-y: -60px;
    background-attachment: fixed;
}

.infoCont {
    background-color: rgb(216, 224, 252);
    margin: 50px 0px 0px 0px;
}

.header {
    background-color: rgb(100, 149, 237);
    width: 96%;
    height: 90px;
    display: grid;
    grid-template-areas:
        "LeeCounty Logo"
        "Options"
        "Search Bar";
    grid-template-columns: 250px 2fr 1fr;
    align-items: center;
    padding: 0px 3% 0px 1%;
}

.headerOptions {
    /* background-color: rgb(100, 49, 237); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0px 80px;
}

.LeeCountyLogo {
    /* background-color: black; */
    height: 65px;
    padding: 0px 0px 10px 0px;
}

.SearchBox{
    /* background-color: black; */
    display: flex;
    height: 50px;
    padding: 10px;
    justify-content: center;
}

.header h3 {
    color: white;
    /* border: 1px solid white;
    background-color: black; */
    text-align: center;
    padding: 5px;
}

.header input[name=search] {
    width: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 16px;
    background-color: rgb(100, 149, 237);
    background-image: url('/Pictures\ &\ Images/searchIcon.png');
    background-position: 12px 11px; 
    background-repeat: no-repeat;
    padding: 15px 10px 15px 40px;
    transition: width 0.4s ease-in-out;
  }

  .header input[name=search]::placeholder{
    color: white;
  }
  
  .header input[name=search]:focus {
    width: 300px
  }