.educationRec {
    z-index: 2;
    position: relative;
    width: 100%;
    top: calc(16vw + 19rem);
    height: calc(-5vw + 55rem);
    background-color: #272323;
    color: rgba(255,255,255,0.7);
    overflow: hidden;
}

    #Holmes {
        position:relative;
        left: -45%;
        width: calc(26.5vw + 9.5rem);
        position: relative;
        z-index: 4;
        padding: 20px;
        margin: 10px;
        top: 60px;
    }

.education {
    display: inline-block;
    width: calc(55vw - 6rem);
    z-index: 3;
    position: relative;
    padding: calc(2vw + 1rem);
    margin: 0;
    font-size: 22px;
    left: calc(35vw + 10rem);
    top: calc(-9vw + 10rem);
}

.optionsRec {
    position:relative;
    left:10%;
    height:15%;
    width:80%;
}

.educationHold{
    background-color:green;
}

@media only screen and (max-width: 1200px) {


    .options .list {
        height: 80%;
    }

    .educationRec .hideRec {
        top: calc(1vw + 11rem);
    }
    .educationRec {
        height: calc(76rem + -46vw);
    }

    #Holmes {
        left: calc(-58vw + 5rem);
        top: calc(26vw + -15rem)
    }

    .education {
        width: calc(60vw - 5rem);
        left: calc(41.5vw + 3.5rem);
        top: 0px;
        font-size: 17px;
        padding-top: 70px;
        margin: 0;
    }

}

@media only screen and (max-width: 850px) {

    .educationRec img {
        left: calc(17vw);
        width: calc(55vw + 5rem);
        top: calc(12vw);
    }

    .education {
        color: blue;
        width: 80%;
        left: 13%;
        top: calc(-5vw + 6rem);
    }

    .education h3 {
        font-size: 15px;
    }
}

    .education strong {
        color: rgba(255,255,255,0.9);
    }

.subtitle {
    position: relative;
    z-index: 2;
    padding: 0px;
    margin: 0px;
    top:50px;
    font-size: 20px;
}

    .subtitle h2 {
        color: rgba(255,255,255,0.98);
        position: relative;
        top: 0px;
        padding: 0;
        margin: 0;
    }

.separator {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: 55px;
    left: 10%;
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, rgba(74,26,108,1) 0%, rgba(104,52,140,1) 50%, rgba(74,26,108,1) 100%);
}

.options {
    top: 55px;
    position: relative;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
}

.list {
    flex: 1;
    position: relative;
    height: 50%;
    text-align: center;
    padding: 8px 20px;
    margin: 20px 20px;
    border: none;
    background-color: #68348c;
    display: inline-block;

}

    .list::after {
        display: inline-block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,255,255,0.9);
        transition: height 0.3s ease; /* Smooth transition for the slide effect */
        height: 0; /* Start with no height */
    }

    .list:hover::after {
        height: 100%; /* On hover, the pseudo-element covers the button */
    }

    .list .text {
        color: rgba(255,255,255,0.9);
        font-size: 18px;
        position: relative; /* Needed to apply z-index */
        z-index: 2; /* Higher than the pseudo-element */
        transition: color 0.7s ease-out; /* Transition for text color change */
    }

    .list:hover .text {
        color: #68348c;
    }

#displayText {
    position: relative; /* Required for absolute positioning of the pseudo-element */
    left: 0;
    top: 85px;
    display: inline-block; /* Or block, depending on your layout */
    width: 50%;
}

#movedSeparator {
    top:0;
    width: 80%;
    position: relative;
    left: 10%;
}

.hideRec {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 130%;
    width: 100%;
    height: 100%;
    background: #272323;
    transition: transform 0.8s cubic-bezier(0.07, 0.47, 0.53,0.83);
}

    .hideRec separator {
        width: 100%;
    }

#eduRec {
    transition: height 0.7s ease-out; /* Adjust timing and easing as needed */
}