.mainTitle {
    z-index: 2;
    width: 100%;
    top: calc(1vw + 3rem);
    height: calc(10vw + 10rem);
    background-color: #1C1C1C;
    position: absolute;
}

    .mainTitle h1, h2 {
        text-align: center;
        position: relative;
        top: calc(2.3vw + 3.7rem);
    }

    .mainTitle h1 {
        color: rgba(255,255,255,0.98);
        font-size: calc(3vw + 1.70rem);
    }

    .mainTitle h2 {
        color: rgba(255,255,255,0.7);
        font-size: calc((3vw + 1.75rem)*.5);
    }
