* {
    font-family: Garamond;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ensures padding doesn't affect overall width */

}

    .title .description h2 {
        color: rgba(255,255,255,0.98);
    }

    * h3 {
        color: rgba(255,255,255,0.7);
    }

body {
    background-color: #1C1C1C;
}

.title {
    margin-left: calc(14.5vw + 3.3rem);
    color: rgba(255,255,255,0.98);
    position: relative;
    z-index: 2; /* Ensures h1 is above the rectangle */
    max-width: 90%;
    top: calc(3.5vw + 0.3rem);
    font-size: calc(1.4vw + 0.5rem);
}
    .subtitle {
        color: rgba(255,255,255,0.7);
        position: relative;
        top: -0.1vw;
        font-size: calc(0.8vw + 0.4rem)
    }

    .description{
        position: relative;
        margin-right: 20%;
        font-size: calc(0.8vw + 0.4rem);  

    }


.profileBackground {
    margin: 2rem 0;
}

.profileExperience {
    position: relative;
    margin: 2rem 0;
}


.profileRectangle {
    width: calc(12vw + 3rem);
    height: 100%;
    background-color: #724A80;
    position: absolute;
    z-index: 3;
}

.profilePic {
    width: 100%;
    position: relative;
    z-index: 4;
}

.phonePic {
    width: 15px;
    height: auto;
    position: relative;
    z-index: 4;
    margin-right: 10px;
}

.mailPic {
    width: 40px;
    position: relative;
    z-index: 4;
    background: transparent;
    margin-right: 10px;
}

.locationPic {
    width: 10px;
    position: relative;
    z-index: 4;
    background: transparent;
    margin-right: 10px;
}

.block {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(0.6vw + 0.3rem);
    z-index: 5;
    background: linear-gradient(45deg, rgba(28,28,28,0.3697128509606967) 46%, rgba(73,42,84,1) 100%);
    margin: 3rem 1rem;
    padding: 1rem;
}

.outblock {
    display: flex;
}

.rectangelDesing {
    position: absolute;
    top: calc(13.42vw + 3rem);
    border-top: calc(3vw + 1.2rem) solid transparent;
    border-left: calc(4.5vw + 1.125rem) solid #724A80;
    border-right: calc(7.5vw + 1.875rem) solid #724A80;
    width: 100%;
    height: 100%;
    z-index: 5;
}

