* {
    font-family: Garamond;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ensures padding doesn't affect overall width */
}

body {
    background-color: #05192B;
}

.title {
    color: rgba(255,255,255,0.98);
    position: relative;
    z-index: 2; /* Ensures h1 is above the rectangle */
    max-width: 90%;
    top: calc(-8vw - 4rem);
    margin-left: calc(21.5vw + 6rem);
    font-size: calc(1.9vw + 0.2rem);
}
    .title h2 {
        color: rgba(255,255,255,0.7);
        position: relative;
        top: 0.3vw;
        font-size: calc(1.2vw + 0.4rem)
    }

.rectangle {
    width: 100%;
    height: calc(10vw + 3rem); /* Initial height based on viewport width */
    background-color: #1C5576;
    position: relative;
    top: 4rem; /* Initial top position based on viewport width */
    z-index: 1;
}

img {
    left: 10%;
    top: calc(-0.2vw - 0.9rem);
    height: calc(10vw + 5rem);
    position: relative;
    z-index: 2;
}