.workExperienceCont {
    z-index: 6;
    position: relative;
    width: 100%;
    top: calc(19.5vw + 21.5rem);
    background-color: #0E0D0D;
    color: rgba(255,255,255,0.7);
}

.experiences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    top: 40px;
    padding: 15px 15px 75px 15px;

}

.individualExp {
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding: 25px;
    margin: 20px;
}

.individualExp h2 {
    top: 0;
    left: 0;
    position: relative;
    font-size: 25px;
    padding: 20px;
    color: rgba(255,255,255,0.9);
    width: 100%;
}

.individualExp h3 {
    top: 0;
    left: 0;
    position: relative;
    font-size: 18px;
    padding: 20px;
    color: rgba(255,255,255,0.5);
}

.underline {
    position:relative;
    top:-8px;
    left:30%;
    height: 2px;
    width:40%;
    background: linear-gradient(90deg, rgba(74,26,108,1) 0%, rgba(104,52,140,1) 50%, rgba(74,26,108,1) 100%);
}

@media only screen and (max-width: 1200px) {

    .underline{
        top:-12px;
        left:25%;
        width:50%;
    }

    .individualExp h2 {
        font-size: 22px;
    }

    .individualExp h3 {
        font-size: 18px;
        padding: 9px;
    }
}

@media only screen and (max-width: 900px) {

    .underline {
        width: 80%;
        left: 10%;
    }

    .individualExp h2 {
        font-size: 22px;
    }

    .individualExp h3 {
        font-size: 16px;
        padding: 1px;
    }
    .experiences {
        text-align: center;
    }
}

